.menubar {
   left: 0;
    background-color: rgb(20,20,20);
    position: fixed;
    height: 100%;
    width: 0%;
    border-right: gray;
    transition: all 500ms;
}

.mainpage {
    left: 0;
     background-color: rgb(37, 37, 37);
     position: fixed;
     height: 100%;
     width: 100%;
     right: 0%;
     transition: all 500ms;
 } 

  
  
  .transform-active {
    background-color: rgb(20, 20, 20);   
    transition: all 500ms;
    height: 100%;
    width: 20%;
    position: fixed;
  }
  .mainpage-active {
     background-color: rgb(37, 37, 37);
     position: fixed;
     height: 100%;
     width: 0%;
     border-right: gray;
     transition: all 500ms;
     height: 100%;
     width: 80%;
     position: fixed;
     right: 0%;
 }
.button {
  left: 10px;
  position: relative;
  top: 20px;
  border: 0px;
  color: rgb(223, 171, 0);
  background: transparent;
  text-size-adjust: 40px;
}
.fppara{position: relative;
  color: rgb(223, 171, 0);
  font-size: 30px;
  left: 0%;
  top: 30%;
  margin: auto;
 
  padding: 0;
  text-align: center;
  overflow-x: visible;
}
.menu{
  color: rgb(223, 171, 0);
}