.menubar {
   left: 0;
    background-color: rgb(20,20,20);
    position: fixed;
    height: 100%;
    width: 0%;
    border-right: gray;

}

.mainpage {
    left: 0;
     background-color: rgb(37, 37, 37);
     position: fixed;
     height: 100%;
     width: 100%;
     right: 0%;
     transition: all 0ms;
 } 

  
  
  .transform-active {
    background-color: rgb(20, 20, 20);   
    transition: all 500ms;
    height: 100%;
    width: 20%;
    position: fixed;
    
  }
  .mainpage-active {
     background-color: rgb(37, 37, 37);
     border-right: gray;
     transition: all 500ms;
     height: 100%;
     width: 80%;
     position: fixed;
     right: 0%;
 }
.button {
  left: 10px;
  position: relative;
  top: 20px;
  border: 0px;
  color: rgb(223, 171, 0);
  background: transparent;
  text-size-adjust: 40px;
}
.fppara{position: relative;
  color: rgb(223, 171, 0);
  left: 0%;
  top: 30%;
  margin: auto;
  padding: 0;
  text-align: center;
  overflow-x: visible;
}
.menu{
  color: rgb(223, 171, 0);

}
#secondaryfppara{
 opacity: 0; 
 font-size: 30px;
 animation: mymove 1s forwards;
 animation-delay: 2s;

}
#type{

font-size: 50px;
}


.menulist {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(223, 171, 0);
  display: block;
  transition: 0.3s;
  border-radius: 8px;

}


.menulist:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(153, 125, 0);
 
}


@keyframes mymove {
  from {opacity: 0;}
  to {opacity: 1;}
}